{% extends "layout.html" %}
{% block body %}
<!-- Default form login -->
<form class="text-center p-5" action="/dashboard" method="POST">

    <p class="h4 ">Sign in</p>

    <!-- Email -->
    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="uname" required>

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="pass" required>

    </div>

    <!-- Sign in button -->
    <button class=" btn hvr-hover btn-block my-4 text-white" type="submit">Sign in</button>

</form>
<!-- Default form login -->

{% endblock %}