{% extends "dashboard/layout.html" %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    <div class="container-fluid" id="product">
        <h3>Manage Products</h3>
        <form class="search" action="/searchproduct" method="POST">
            <label><i class="fas fa-search" aria-hidden="true"></i> You Can Search here..</label>
            <input type="text" class="form-control" placeholder="Search..." name="searchproduct">
        </form>
        <div style="overflow-x: auto; width: 100%;">
            <table class="table">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Delete</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.brand}}</td>
                        <td>{{product.model}}</td>
                        <td><a href="/deleteproduct/{{product.id}}">
                                <buttom class="btn btn-primary"  style="border-radius: 30px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </a></td>
                        <td><a href="/productconf/{{product.slug}}">
                                <buttom class="btn btn-primary"  style="border-radius: 20px;"><i class="fa fa-eye" aria-hidden="true"></i></button>
                            </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a class="previous btn btn-primary" href="{{prevprodmg}}"><i class="fa fa-angle-left"
                    aria-hidden="true"></i></a> <a class="next btn btn-primary" href="{{nextprodmg}}"><i
                    class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div><br>
    </div>
</main>
{% endblock %}